.headerstyle {    
    padding: 5px;
    font-family: Cambria, Georgia, serif;
    font-size: 100%;
    color: white;
    text-align: left;
    background: transparent url(PMUlawn_small.jpg);
    margin-bottom: 70px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.headerstyle2 {    
    padding: 5px;
    font-family: Cambria, Georgia, serif;
    font-size: 100%;
    color: white;
    text-align: left;
    background: transparent url(Data-Mining-Images.jpg);
    margin-bottom: 70px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.style {
    padding: 1px;
    font-family: Cambria, Georgia, serif;
    font-size: 92%;

}
.subheadstyle {
    padding: 0px;
    font-family: Cambria, Georgia, serif;
    font-size: 100%;
    font-weight:bold;
}
.tablestyle {
    padding: 0px;
    margin: -4px;
    padding-left: -1px;
    padding-top: -1px;
    padding-right: 2px;
    color: black;
    font-family: Cambria, Georgia, serif;
    font-size: 99%;
    vertical-align: text-top;
    position: overflow;
    font-weight: normal;
}
.tablestyle2 {
    padding: 0px;
    margin: -4px;
    padding-left: -1px;
    padding-top: -1px;
    padding-right: 2px;
    color: black;
    font-family: Cambria, Georgia, serif;
    font-size: 99%;
    vertical-align: text-top;
    position: fixed;
    font-weight: normal;
   
}
.mytd {
    bgcolor: #f5f5eb;
    width: 50%;
    vertical-align: text-top; 
}
.referencestyle {
    padding: 1px;
    font-family: Cambria, Georgia, serif;
    font-size: 90%;
}
.footerstyle {
    padding: 0px;
    font-family: Cambria, Georgia, serif;
    font-size: 100%;
    color: black;
    text-align: left;
    background: transparent url(gold.png);
    margin-bottom: -5px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.box {
    -moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:10px;
    solid #FFFFFF;
    background: transparent url(gold.png);
    color: transparent url(gold.png);
    padding:10px;
}
.classheaderstyle {
    padding: 0px;
    font-family: Cambria, Georgia, serif;
    font-size: 200%;
    color: black;
    text-align: left;
    background: transparent url(gold.png);
    margin-bottom: -5px;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}
.paragraph_style {
    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    letter-spacing: 0.04em;
    line-height: 43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.style_1 {
    padding: 0px;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
}
.style_SkipStroke_2 {
	background: transparent;
	opacity: 1.00;
	width: 184px
}
.style_SkipStroke {
    background: transparent url(a.jpg) no-repeat scroll top left;
    opacity: 1.00;
	
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_External_653_74 {
    position: relative;
}
.style_External_462_1901 {
    position: relative;
}
.Body {
	color: rgb(81, 81, 81);
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	opacity: 1.00;
	padding-bottom: 10px;
	padding-top: 0px;
	text-align: left;
	text-indent: 0px;
	text-transform: none;
}
.Free_Form {
    color: rgb(81, 81, 81);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 10px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: rgb(255, 255, 255);
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 69px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    letter-spacing: 0.04em;
    line-height: 81px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.Normal {
    padding: 16px;
}
.Normal_External_653_74 {
    position: relative;
}
.Normal_External_462_1901 {
    position: relative;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent url(Mod_menu_bar.jpg) repeat scroll top left;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_2_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_616_54 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(18, 132, 186);
    text-decoration: none;
}
a:visited {
    color: rgb(18, 132, 186);
    text-decoration: none;
}
a.class1 {
    color: rgb(255, 147, 0);
}
a.class1:visited {
    color: rgb(18, 132, 186);
    text-decoration: none;
}
a.class1:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a:hover {
	color: rgb(255,0,0);
	text-decoration: none;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a:hover {
    color: rgb(181, 181, 181);
    text-decoration: none;
}
#widget0 a:visited {
    color: rgb(18, 132, 186);
    text-decoration: none;
}
#widget0 a {
    color: rgb(18, 132, 186);
    text-decoration: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}

table
{
    padding: 0px; /* 'cellpadding' equivalent */
}
ul2
{
    list-style-image: url(blogger_icon.png);
    left: 235px;
    position: absolute;

}
gr_updates_widget{
    padding: 5px 5px;
    margin: 0px;
    padding-left:10px;
    padding-top: inherit;
    padding-right: 50px;
    color: black;
    font-family: Cambria, Georgia, serif;
    font-size: 99%;
    vertical-align: text-top;
    position: overflow;
    font-weight: normal;
}
a:hover { 
    background-color: yellow;
}
